{% extends "layout.html" %}
{% load static %}
{% block style %}
<link href="{% static 'lib/jquery.mb.ytplayer/jquery.mb.YTPlayer.min.css' %}" rel="stylesheet">
<!-- 알림 스타일 -->

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

{% endblock style %}
{% block content%}
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main minh-100vh" id="top">
  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="py-0" id="page-shop" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">

    <div class="bg-holder" style="background-image:url({% static 'img/shop-header.jpg'%});">
    </div>
    <!--/.bg-holder-->

    <div class="container">
      <div class="row">
        <div class="col-9 pt-11 pb-5">
          <div class="media">
            <div class="media-body pl-3">
              <div class="overflow-hidden">
                <h1 class="text-underline d-inline fs-3 fs-md-5 text-white">Program</h1>
              </div>
              <div class="overflow-hidden">
                <h6 class="mb-0 text-white ls-2 text-uppercase" data-zanim-xs='{"delay":0.8}' data-zanim-trigger="scroll">와락에서 진행중인 프로그램을 확인하세요</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->
  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section style="padding-top: 3% !important;">

    <div class="container">
      {% for program in program_list %}
      <div class="row">
        <div class="col-lg-6 mt-8">
          <img class="h-lg-100 w-100 rounded fit-cover" src="{{ program.photo.url }}" alt="">
        </div>
        <div class="col-lg-6 pl-lg-4 pl-xl-6 mt-4 mt-lg-8">
          {% if program.volunteer_max > program.volunteer %}
            <h3 class="mb-0">{{ program.title }}</h3>
          <p class="lead text-sans-serif"></p>
          <ul class="list-unstyled mt-4">
            <li>
              <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold">분류 : </span><span class="font-weight-normal pl-1" style="font-family: HANYheadB;">{{ program.classify }}</span></h6>
            </li>
            <li>
              <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold">대상 : </span><span class="font-weight-normal pl-1" style="font-family: HANYheadB;">{{ program.target }}</span></h6>
            </li>
            <li>
              <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold">일정 : </span><span class="font-weight-normal pl-1" style="font-family: HANYheadB;">{{program.start_schedule|date:"Y.m.d"}} ~ {{program.end_schedule|date:"Y.m.d"}}</span></h6>
            </li>
            <li>
              <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold">신청기간 : </span><span class="font-weight-normal pl-1" style="font-family: HANYheadB;">{{program.start_signup_day|date:"Y.m.d"}} ~ {{program.end_signup_day|date:"Y.m.d"}}</span></h6>
            </li>
            <li>
              <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold">지원자 : </span><span class="font-weight-normal pl-1" style="font-family: HANYheadB;">{{ program.volunteer }} / {{ program.volunteer_max }}</span></h6>
            </li>
            <li>
              <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold" style="font-family: HANYheadB;">내용 : </span></h6>
              <p><span class="font-weight-normal pl-1" style="font-family: HANYheadB;">{{ program.content }}</span></p>
            </li>
          </ul>
          <button type="button" class="btn btn-dark btn-sm px-7 mt-4" data-toggle="modal" data-target="#apply{{program.pk}}">지원하기</button>

          {% else %}
           <h3 class="mb-0">{{ program.title }}</h3>
          <ul class="list-unstyled mt-4">
            <li>
              <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold">분류 : </span><span class="font-weight-normal pl-1" style="font-family: HANYheadB;">{{ program.classify }}</span></h6>
            </li>
            <li>
              <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold">대상 : </span><span class="font-weight-normal pl-1" style="font-family: HANYheadB;">{{ program.target }}</span></h6>
            </li>
            <li>
              <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold">일정 : </span><span class="font-weight-normal pl-1" style="font-family: HANYheadB;">{{program.start_schedule|date:"Y.m.d"}} ~ {{program.end_schedule|date:"Y.m.d"}}</span></h6>
            </li>
            <li>
              <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold">신청기간 : </span><span class="font-weight-normal pl-1" style="font-family: HANYheadB;">{{program.start_signup_day|date:"Y.m.d"}} ~ {{program.end_signup_day|date:"Y.m.d"}}</span></h6>
            </li>
            <li>
              <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold">지원자 : </span><span class="font-weight-normal pl-1" style="font-family: HANYheadB;">{{ program.volunteer }} / {{ program.volunteer_max }}</span></h6>
            </li>
            <li>
              <h6 class="fs-0 text-900 mb-1"><span class="font-weight-bold" style="font-family: HANYheadB;">내용 : </span></h6>
              <p><span class="font-weight-normal pl-1" style="font-family: HANYheadB;">지원이 마감되었습니다.</span></p>
            </li>
          </ul>
          {% endif %}
        </div>
      </div>

      <!-- ============================================-->
      <!-- modal begin ================================-->
      <!-- ============================================-->
      <div class="modal fade" id="apply{{program.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{program.title}} 지원하기</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="signup-form"action="{% url 'program:signup' program.pk %}" method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" style="font-weight: bold;">학생 이름</span>
                  </div>
                  <input type="text" class="form-control" placeholder="학생 이름을 입력하세요" name="student_name" aria-label="학생 이름">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" style="font-weight: bold;" >출석학교</span>
                  </div>
                  <input type="text" class="form-control" placeholder="재학중인 학교를 입력하세요" name="student_school" aria-label="출석학교">
                </div>
      
                <div class="input-group mb-3" style="width: 60% !important; float: left;">
                  <div class="input-group-prepend">
                    <span class="input-group-text" style="font-weight: bold;" >학년</span>
                  </div>
                  <input type="number" class="form-control" placeholder="학년을 입력하세요" name="student_level" aria-label="학년">
                </div>
      
                <div class="form-check" style="margin-left: 70%;">
                  <input class="form-check-input" type="radio" name="gender" value="M" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    남성
                  </label>
                </div>
                <div class="form-check" style="margin-left: 70%;">
                  <input class="form-check-input" type="radio" name="gender" value="W" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    여성
                  </label>
                </div>
                
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" style="font-weight: bold;">학생 이메일</span>
                  </div>
                  <input type="email" class="form-control" placeholder="xxxx@naver.com" name="student_email" aria-label="학생 이메일">
                </div>
                
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" style="font-weight: bold;">학생 연락처</span>
                  </div>
                  <input type="tel" class="form-control" placeholder="01x-xxxx-xxxx" name="student_contact"aria-label="학생 연락처">
                </div>

                
      
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" style="font-weight: bold;">신청인 이름</span>
                  </div>
                  <input type="text" class="form-control" placeholder="신청인(보호자) 이름" name="guardian_name" aria-label="신청인 이름" >
                </div>
      
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" style="font-weight: bold;" id="basic-addon1">보호자 연락처</span>
                  </div>
                  <input type="tel" class="form-control" placeholder="01x-xxxx-xxxx" name="guardian_contact"aria-label="보호자 연락처" >
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
              <button type="submit" class="btn btn-primary">지원하기</button>
            </div>
            </form>
          </div>
        </div>
      </div>
      <!-- ============================================-->
      <!-- modal close ================================-->
      <!-- ============================================-->
      {% endfor %}
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->
</main>
<style>
#toast-message{
  position: fixed;
  bottom: 0;
  right: 10%;
  width:30%;
}
</style>
<script>
  {% if messages %}
    {% for message in messages %}
      var toastHTML =  '<div id="toast-message" class="alert alert-dark" role="alert">{{message}}</div>'
      M.toast({html: toastHTML, classes: 'rounded'});
    {% endfor %}
  {% endif %}
</script>
{% endblock content %}

{% block script %}
<script src="{% static 'lib/owl.carousel/owl.carousel.js' %}"></script>
<script src="{% static 'lib/jquery.mb.ytplayer/jquery.mb.YTPlayer.min.js' %}"></script>
<!-- 알림자바스크립트 -->
<!-- Compiled and minified JavaScript -->
{% endblock script %}
    

